<ion-header>
  <ion-navbar>
    <ion-title>{{ "Create Trip" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div #mapTrip id="mapTrip" data-tap-disabled="true">
    <div style="padding-left: 8px; padding-right: 8px; padding-top: 5px; padding-bottom: 0px;">
      <ion-row class="rowsty">
        <ion-col col-1>
          <ion-icon style="font-size: 1.5em; color: gray;" name="car"></ion-icon>
        </ion-col>
        <ion-col col-11 style="padding-right: 5px; padding-left: 0px; padding-top: 0px; padding-bottom: 0px;">
          <input type="text" class="searchbar-input" placeholder="{{ 'Enter trip name' | translate }}" name="tripName"
            [(ngModel)]="tripName" />
        </ion-col>
      </ion-row>
    </div>

    <ion-searchbar class="search_bar" [(ngModel)]="autocomplete.yourLocation"
      placeholder="{{ 'Your location' | translate }}">
    </ion-searchbar>

    <ion-searchbar class="search_bar" [(ngModel)]="autocomplete.query" (ionInput)="updateSearch()"
      placeholder="{{ 'Where to?' | translate }}">
    </ion-searchbar>
    <ion-list style="margin: 0px;">
      <ion-item *ngFor="let item of autocompleteItems" (click)="chooseItem(item)">
        {{ item.description }}
      </ion-item>
    </ion-list>

    <ion-row *ngIf="expectation.distance"
      style="background-color: rgb(0, 0, 0, 0.5); font-size: 0.8em; color: white;border-radius: 25px;width: 70%;margin: auto; padding:5px;">
      <ion-col style="background-color: transparent; text-align: center;" col-6>
        {{ "Distance" | translate }} {{ expectation.distance }}
      </ion-col>
      <ion-col style="background-color: transparent; text-align: center;" col-6>
        {{ "Time" | translate }} {{ expectation.duration }}
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer class="footSty" *ngIf="showBtn">
  <ion-toolbar>
    <ion-row no-padding>
      <ion-col width-50 style="text-align: center;">
        <button ion-button clear color="light" (click)="setDestination()">
          {{ "Start Trip" | translate }}
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>