<ion-header no-border>
  <ion-navbar>
    <!-- <ion-row padding-top padding-right style="padding-bottom: 10px;">
      <ion-col col-1>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-7 padding-left>
        <ion-row>
          <ion-col col-12 no-padding>
            <p style="margin: 0px; font-size: 1.5em; color: white;">{{'Welcome' | translate}}</p>
          </ion-col>
          <ion-col col-12 no-padding>
            <p style="margin: 0px; font-size: 1.9em;font-weight: 600; color: white;    text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;">{{islogin.fn}}&nbsp;{{islogin.ln}}
            </p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-2 style="padding-top: 10px;">
        <button id="cart-btn" ion-button clear (click)="seeNotifications()">
          <ion-icon name="notifications" color="light" style="font-size: 3em;"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <div class="headProf123" #headerTag ion-fixed>
          <img *ngIf="!fileUrl" src="assets/imgs/dummy-user-img.png" />
          <img *ngIf="fileUrl" src="{{fileUrl}}" />
        </div>
      </ion-col>
    </ion-row> -->
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <div style="font-size:15px; text-align: center;">{{'Dashboard' | translate}}</div>
      <div style="font-size:12px; text-align: center;">{{'Welcome' | translate}}, {{islogin.fn}}&nbsp;{{islogin.ln}}!
      </div>
    </ion-title>
    <ion-buttons end>
      <button id="cart-btn" ion-button icon-only (click)="seeNotifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge id="cart-badge">{{cartCount}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
  <progress-bar *ngIf="loadProgress != 100" [progress]="loadProgress"></progress-bar>
</ion-header>

<ion-content overflow-scroll="false" no-border>

  <!-- <ion-row padding>
    <ion-col col-8>
      <ion-row>
        <ion-col col-12 no-padding>
          <p style="margin: 0px; font-size: 1.5em; color: white;">{{'Welcome' | translate}}</p>
        </ion-col>
        <ion-col col-12 no-padding>
          <p style="margin: 0px; font-size: 2em;font-weight: 600; color: white;">{{islogin.fn}}&nbsp;{{islogin.ln}}
          </p>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col col-2>
      <button id="cart-btn" ion-button clear (click)="seeNotifications()">
        <ion-icon name="notifications" color="light" style="font-size: 3em;"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-2>
      <div class="headProf123" #headerTag ion-fixed>
        <img *ngIf="!fileUrl" src="assets/imgs/dummy-user-img.png" />
        <img *ngIf="fileUrl" src="{{fileUrl}}" />
      </div>
    </ion-col>
  </ion-row> -->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{'Pull to refresh' | translate}}"
      refreshingSpinner="circles" refreshingText="{{'Refreshing...' | translate}}">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-slides pager style="margin-top: 1%;">
          <ion-slide>

            <div id="chart" class="chart" style="margin-bottom: 5%;">
              <div class="text1" #text1></div>
              <canvas #doughnutCanvas height="200" width="200"></canvas>
            </div>

          </ion-slide>
          <ion-slide>

            <div padding>
              <canvas #barCanvas height="300" width="300"></canvas>
            </div>
          </ion-slide>
          <ion-slide>
            <div padding style="margin-bottom: 5%;">
              <canvas #doughnutCanvas1 height="200" width="200"></canvas>
            </div>
          </ion-slide>
          <ion-slide>
            <div>
              <ion-item style="border-radius: 15px;" no-lines>
                <ion-label>{{ 'Reminders' | translate }}</ion-label>
                <ion-select [(ngModel)]="reminers" (ionChange)="onReminersChange(reminers)">
                  <ion-option value="lastSeven" selected="true">{{ 'Last 7 days' | translate }}</ion-option>
                  <ion-option value="lastFifteen">{{ 'Last 15 days' | translate }}</ion-option>
                  <ion-option value="lastThirty">{{ 'Last 30 days' | translate }}</ion-option>
                </ion-select>
              </ion-item>
              <ion-list>
                <ion-item *ngFor="let item of remindersData" style="background: transparent;">
                  <ion-row>
                    <ion-col>
                      <p style="margin: 0px;font-size: 0.7em; padding: 2px 12px 5px 12px;">
                        <ion-icon color="gpsc" name="clock"></ion-icon>&nbsp;&nbsp;
                        {{item.reminder_type}} pending for vehicle {{item.device ? item.device.Device_Name : 'unknown'}}
                        on
                        {{item.reminder_date | date:'mediumDate'}} {{item.reminder_date | date:'shortTime'}}
                      </p>
                    </ion-col>
                  </ion-row>
                </ion-item>
              </ion-list>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row style="padding-left: 15px; padding-right: 15px;">
    <ion-col width-50 (tap)="live()" style="border-right: 1px solid #B93124; border-bottom: 1px solid #B93124;">
      <div class="divS">
        <ion-icon class="iconS" name="pin" color="gpsc"></ion-icon>
        <br /> {{'LIVE TRACKING' | translate}}
      </div>
    </ion-col>

    <ion-col width-50 (tap)="vehiclelist()" style="border-bottom: 1px solid #B93124">
      <div class="divS">
        <ion-icon class="iconS" name="car" color="gpsc"></ion-icon>

        <br /> {{'VEHICLES' | translate}}
      </div>
    </ion-col>
  </ion-row>

  <ion-row style="padding-left: 15px; padding-right: 15px;">
    <ion-col width-50 (tap)="historyDevice()" style="border-right: 1px solid #B93124;">

      <div class="divS">
        <ion-icon class="iconS" name="time" color="gpsc"></ion-icon>
        <br /> {{'History' | translate}}
      </div>
    </ion-col>
    <ion-col width-50 (tap)="geofence()" class="colStyl">
      <div class="divS">
        <ion-icon class="iconS" name="disc" color="gpsc"></ion-icon>
        <br /> {{'GEOFENCE' | translate}}
      </div>
    </ion-col>
  </ion-row>
  <!-- <div style="padding-left: 8px; padding-right: 8px; padding-bottom: 16px; padding-top: 8px;">
    <ion-row class="rowClass">
      <ion-col col-4 style="border-right: 1px solid lightgray;">
       <p style="margin: 0px;font-size: 1.2em;">Petrol</p>
      </ion-col>
      <ion-col col-4 style="border-right: 1px solid lightgray;">
        <p style="margin: 0px;font-size: 1.2em;">Diesel</p>
      </ion-col>
      <ion-col col-4>
        <p style="margin: 0px;font-size: 1.2em;">{{fuelPricesData.length > 0 ? fuelPricesData[0].city : null}}</p>
      </ion-col>
    </ion-row>
    <ion-row class="forecast_container">
      <ion-col col-4 style="border-right: 1px solid lightgray;">
        <p style="margin: 0px; font-size: 1.3em; font-weight: 600;">&#8377; {{fuelPricesData.length > 0 ? fuelPricesData[0].petrol : 0}} </p>
      </ion-col>
      <ion-col col-4 style="border-right: 1px solid lightgray;">
        <p style="margin: 0px; font-size: 1.3em; font-weight: 600;">&#8377; {{fuelPricesData.length > 0 ? fuelPricesData[0].diesel : 0}} </p>
      </ion-col>
      <ion-col col-4>
        <ion-icon style="font-size: 1.5em;" color="gpsc" name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </div> -->
  <!-- <div style="padding-left: 8px; padding-right: 8px; padding-bottom: 16px; padding-top: 8px;">
    <ion-row class="rowClass">
      <ion-col col-4 style="border-right: 1px solid lightgray;">
        <ion-item class="itemClass" style="background: transparent;">
          <ion-select style="max-width: 100%;" [(ngModel)]="fuelType" interface="popover" (ionChange)="getFuelPrice()">
            <ion-option selected="true" value="diesel">Diesel</ion-option>
            <ion-option value="petrol">Petrol</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-4 style="border-right: 1px solid lightgray;">
        <ion-item style="background: transparent;" (ionChange)="getFuelPrice()">
          <ion-select style="max-width: 100%;" [(ngModel)]="fuelCity" interface="popover">
            <ion-option *ngFor="let item of fuelCities; let idx = index" selected="{{(idx==0).toString()}}" [value]="item.city">{{item.city}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-4 style="text-align: center;margin: auto;">
        <p style="margin: 0px; font-size: 1.5em; font-weight: 600;">&#8377; 76 </p>
      </ion-col>
    </ion-row>
    <ion-row nowrap class="forecast_container">
      <ion-col *ngFor="let item of fuels" col-3 class="forecast_div">
        <p style="font-size: 1.3em; font-weight: 500;">&#8377; {{item}}</p>
      </ion-col>
    </ion-row>
  </div> -->

</ion-content>
